<!DOCTYPE html>
<html lang="en">
<head>
	<title>view1</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link href="styles.css" rel="stylesheet" type="text/css" />
	<script src="views/view1.js"></script>
</head>
<body>
	<div>
		<div id="todo-table" class="test" >
			<form id="form1">
				<input type="text" name="item" placeholder="rez2_collection1... " required /> 
				<button type="submit">add</button>
			</form>
			<ol>
				<% for(var i=0; i < todos.length; i++){ %>
				<pre><li name="<%= todos[i]._id %>"> <%= todos[i].item %></li></pre>
				<% } %>
				
			</ol>
			<form id="form2">
				<input type="text" name="item" placeholder="rez2_collection2..." required /> 
				<button type="submit">add</button>
			</form>
			<ol>
			<% for(var i=0; i < todos2.length; i++){ %>
			<pre><li name="<%= todos2[i]._id %>"> <%= todos2[i].item %></li></pre>
			<% } %>
			</ol>
		</div>
		
	</div>
</body>
</html>
