<!DOCTYPE html>
<html lang="en">
<head>
	<title>rez2_app2</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
	<p>belly button window</p>
	<ol>
			<% for(var i=0; i < rez2_collection2.length; i++){ %>
				<li><%= rez2_collection2[i].item %></li>
			<% } %>
	</ol>
</body>
</html>
