<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Tab</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
	<script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
	<script src="jquery.contextMenu.min.js"></script>
	<script src="views/view_drag1.js"></script>
	<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div>
		<div id="c1" class="drag ui-widget-content">
				<canvas id="demoCanvas" width="60" height="60"></canvas><br>
				<div id="txOut1" align="center" style="font-size: 10px"></div>
		</div>
	</div>

</body>
</html>
